<!DOCTYPE html>
<html ng-app="app" ng-csp="">
<head>
  <meta charset="UTF-8">
  <title>Fibonacci Lamp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="MainCtrl">
  <div class="container">
    <h1>Fibonacci Lamp</h1>

    <form class="form-horizontal">

      <div class="form-group">
        <span class="col-sm-offset-2 col-sm-8" ng-bind="status"></span>
      </div>

      <div class="form-group">
        <label for="inputAccessToken" class="col-sm-2 control-label">Access Token</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input ng-model="accessToken" class="form-control" id="inputAccessToken" placeholder="Access Token" />
            <span class="input-group-btn">
              <button class="btn btn-default" id="btnSave" ng-click="save()" ng-disabled="busy">Save</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button class="btn btn-default" id="btnGetDevices" ng-click="getDevices()" ng-disabled="busy">Get Devices</button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputDevices" class="col-sm-2 control-label">Device</label>
        <div class="col-sm-6">
          <div class="input-group">
            <select class="form-control" ng-model="device" ng-change="onSelectedDeviceChange()"
                  ng-options="device.name for device in devices | orderBy:name"></select>
            <span class="input-group-btn">
              <button class="btn btn-default" id="btnConnect" ng-click="connect()" ng-disabled="busy">Connect</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Power</label>
        <div class="col-sm-6">
          <div class="btn-group" role="group" aria-label="Power">
            <button type="button" class="btn btn-default" id="btnPowerOn" ng-click="powerOn()" ng-disabled="busy || disconnected">
              On
            </button>
            <button type="button" class="btn btn-default" id="btnPowerOff" ng-click="powerOff()" ng-disabled="busy || disconnected">
              Off
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputTimezone" class="col-sm-2 control-label">Time Zone</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input ng-model="timezone" class="form-control" id="inputTimezone" type="number" min="-12" max="13" ng-disabled="busy || disconnected" />
            <span class="input-group-btn">
              <button class="btn" id="btnSetTimezone" ng-click="setTimezone()" ng-disabled="busy || disconnected">Set</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputBrightness" class="col-sm-2 control-label">Brightness</label>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon" ng-bind="brightness"></span>
            <input ng-model="brightness" ng-placeholder="brightness" class="form-control" id="inputBrightness" type="range" step="1" min="2" max="255" ng-disabled="busy || disconnected" />
            <span class="input-group-btn">
              <button class="btn btn-default" id="btnSetBrightness" ng-click="setBrightness()" ng-disabled="busy || disconnected">Set</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputPattern" class="col-sm-2 control-label">Pattern</label>
        <div class="col-sm-6">
          <div class="input-group">
            <select ng-model="pattern" class="form-control" id="inputPattern" ng-options="pattern.name for pattern in patterns" ng-disabled="busy || disconnected"></select>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" id="btnGetPatterns" ng-click="getPatterns()" ng-disabled="busy || disconnected" aria-label="Refresh Patterns">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default" id="btnSetPattern" ng-click="setPattern()" ng-disabled="busy || disconnected" aria-label="Set Pattern">Set</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button class="btn btn-default" id="btnFlipClock" ng-click="toggleFlipClock()" ng-disabled="busy || disconnected">Flip Clock</button>
        </div>
      </div>

      <div class="form-group">
        <label for="inputColor" class="col-sm-2 control-label">Color</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input type="color" ng-model="color" class="form-control" id="inputColor" ng-disabled="busy || disconnected" />
            <span class="input-group-btn">
              <button class="btn btn-default" id="btnSetColor" ng-click="setColor()" ng-disabled="busy || disconnected">Set</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputNoiseSpeedX" class="col-sm-2 control-label">Noise Speed X</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input ng-model="noiseSpeedX" class="form-control" id="inputNoiseSpeedX" type="number" min="0" max="255" ng-disabled="busy || disconnected" />
            <span class="input-group-btn">
              <button class="btn" id="btnSetNoiseSpeedX" ng-click="setNoiseSpeedX()" ng-disabled="busy || disconnected">Set</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputNoiseSpeedY" class="col-sm-2 control-label">Noise Speed Y</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input ng-model="noiseSpeedY" class="form-control" id="inputNoiseSpeedY" type="number" min="0" max="255" ng-disabled="busy || disconnected" />
            <span class="input-group-btn">
              <button class="btn" id="btnSetNoiseSpeedY" ng-click="setNoiseSpeedY()" ng-disabled="busy || disconnected">Set</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputNoiseSpeedZ" class="col-sm-2 control-label">Noise Speed Z</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input ng-model="noiseSpeedZ" class="form-control" id="inputNoiseSpeedZ" type="number" min="0" max="255" ng-disabled="busy || disconnected" />
            <span class="input-group-btn">
              <button class="btn" id="btnSetNoiseSpeedZ" ng-click="setNoiseSpeedZ()" ng-disabled="busy || disconnected">Set</button>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="inputNoiseScale" class="col-sm-2 control-label">Noise Scale</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input ng-model="noiseScale" class="form-control" id="inputNoiseScale" type="number" min="0" max="255" ng-disabled="busy || disconnected" />
            <span class="input-group-btn">
              <button class="btn" id="btnSetNoiseScale" ng-click="setNoiseScale()" ng-disabled="busy || disconnected">Set</button>
            </span>
          </div>
        </div>
      </div>

    </form>
  </div>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.6.2.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
